<div class="questions-accordion">
    <ul>
        {{#each questions}}
        <li class="">
            <span class="question">{{question}}</span>
            <p class="answer">{{answer}}</p>
        </li>
        {{/each}}
    </ul>
</div>