<header>
  {{#if navItems}}
    <div style="display: inline-block">
      <nav class="main-nav flex in-row center-center">
        <img src="/images/icon_folder.png" />
        <ul>
            {{#each navItems}}
            <li class="{{class}}">
              <a href="{{path}}" title="{{title}}">{{title}}</a>
            </li>
            {{/each}}
        </ul>
      </nav>
    </div>
  {{/if}}

  {{#if signOut}}
    <div class="logout">
      <form action="/logout" method="post">
        <button class="button nav" type="submit" value="logout" />Wyloguj się</button>
      </form>
    </div>
  {{/if}}
</header>