<div class="sign-in_form">
    <form id="authenticate-form">
        <div>
            <input
                required
                type="email"
                name="username"
                placeholder="Nazwa użytkownika"
            />
        </div>
        <div>
            <input
                required
                type="password"
                name="password"
                placeholder="Hasło"
            />
        </div>
        <div>
            <input 
                type="submit" 
                value="Zaloguj się"
                class="button solid blue"
                />
        </div>
    </form>
    <div id="alert-box" class="alert-box"></div>
</div>