<div class="sign-in_form">
    <form id="forgot-password">
        <div>
            <input
                required
                type="email"
                name="email"
                placeholder="E-mail"
            />
        </div>
        <div>
            <input 
                type="submit" 
                value="Resetuj hasło"
                class="button solid blue"
            />
        </div>
    </form>
    <div class="sign-up_link">{{> link this.registration}}</div>
    <div id="alert-box" class="alert-box"></div>
</div>