<div class="company-steps flex in-row">
    <div class="step">
        <div class="circle">1</div>
        Stwórz profil
    </div>
    <div class="step">
        <div class="circle">2</div>
        Dodaj zdjęcia i informacje
    </div>
    <div class="step">
        <div class="circle">3</div>
        Otrzymaj fizyczny kod QR
    </div>
</div>