<div class="company-description">
    <div class="row">
        <div class="col-md-8 col-sm-12 flex center-center">
            <p class="sentence">{{description}}</p>
        </div>
        <div class="col-md-4 col-sm-12 flex start-center">
            {{> button this}}
        </div>
    </div>
</div>