{{> header this.menu }}
{{> video-bg }}
<main>
	<div class="container login">
		<div class="row">
			<div class="col-12 fh flex in-column center-center light" >
				<div class="company-destription">
					<div class="col-12 section-title_small flex center-center">
                        <h2>Wpisz kod dostępu do profilu:</h2>
                    </div>
				</div>
				<div class="code-auth_form">
					<form id="code-auth-form">
						<div>
							<input
								required
								type="text"
								name="code"
								placeholder="Kod dostępu"
								maxlength="4"
							/>
						</div>
						<div>
							<input 
								type="submit" 
								value="Przejdź do profilu"
								class="button solid blue"
								/>
						</div>
					</form>
					<div id="alert-box" class="alert-box"></div>
				</div>
			</div>
		</div>
	</div>
</main>



