{{> header this.navigation }}
{{> video-bg }}
<main>
	<div class="container login">
		<div class="row">
			<div class="col-12 fh flex in-column center-center light" >
				<div class="company-destription">
					<p class="sentence">Podaj nowe hasło</p>
				</div>
				<div class="sign-in_form">
					<form id="reset-password">
						<div>
							<input
								required 
								minlength="8"
								type="password"
								name="password"
								placeholder="Nowe hasło"
							/>
						</div>
						<div>
							<input 
								type="submit" 
								value="Zapisz hasło"
								class="button solid blue"
							/>
						</div>
					</form>
					<div id="alert-box" class="alert-box"></div>
				</div>
			</div>
		</div>
	</div>
</main>



