{{> header this.navigation }}

<main class="disable-video">
    <div class="user-panel">
        <div class="welcome-section flex light in-column end-center">
            <div class="inner-container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="avatar">
                            <img src="">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 flex center-center">
                        <h2 class="sentence">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 details">
                        <div class="name">Imię i nazwisko</div>
                        <div class="date">18.03.2019 - 18.03.2016</div>
                        <div class="type">Profil prywatny</div>
                    </div>
                    <div class="col-md-6 edit">
                        <a class="button outlined">Edytuj profil</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-content">
            <div class="row">
                <div class="col-md-8 col-sm-12 user-text">
                    <h6>Opis</h6>
                    <p>{{content.text}}</p>
                </div>
                <div class="col-md-4 col-sm-12 user-files">
                    <h6>Pliki</h6>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 user-gallery">
                    <h6>Galeria</h6>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <img src=""/>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button class="button solid">Załaduj więcej zdjęć</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>