html, body {
  position: relative;
  width: 100%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 10px;
}

main {
  background: url("../images/bg.jpg");
  background-attachment: fixed;
  min-height: 100%;
}

.fh {
  height: 100vh;
}

.flex {
  display: flex;
}
.flex.in-column {
  flex-direction: column;
}
.flex.in-row {
  flex-direction: row;
}
.flex.center-center {
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex.start-center {
  align-items: center;
  justify-content: flex-start;
}

.light {
  color: #dcdbdb;
}
.light a {
  color: #dcdbdb;
}
.light .button {
  color: #dcdbdb;
}
.light .button.outlined {
  border-color: #dcdbdb;
}
.light .button.solid {
  background-color: #dcdbdb;
  color: #4d7b86;
}
.light .button.solid.blue {
  background-color: #4d7b86;
  color: #dcdbdb;
}

p {
  margin: 0;
}

.sentence {
  font-style: italic;
}

.button, button {
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.5em;
  border: none;
}
.button.outlined, button.outlined {
  border: 2px solid;
}
.button.solid, button.solid {
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 40px;
}
.button:hover, button:hover {
  text-decoration: none;
}
.button.small, button.small {
  padding: 10px 15px;
  font-size: 1em;
}

.link {
  line-height: 20px;
}

.sign-up_link {
  margin: 10px 0;
}

form {
  font-size: 1.4em;
}
form input {
  display: block;
  width: 100%;
  border-radius: 100px;
  padding: 10px 20px;
  border: none;
  margin-bottom: 20px;
}
form label {
  margin-bottom: 5px;
}
form .inline label, form .inline input {
  display: inline-block;
}
form .inline input[type=checkbox] {
  width: 20px;
}

.sign-in_form, .promo-code_form {
  width: 450px;
}

.section-title_small {
  font-size: 1.5rem;
  text-align: center;
}
.section-title_small small {
  font-weight: 300;
}

header {
  position: fixed;
  top: 0;
  z-index: 9999;
}
header .main-nav {
  position: relative;
  top: 20px;
  left: 20px;
  background-color: #dcdbdb;
  border-radius: 100px;
  padding: 10px 20px;
}
header .main-nav ul {
  list-style: none;
  margin: 0;
}
header .main-nav ul li {
  display: inline-block;
  font-size: 1.3em;
  padding: 0 10px;
}
header .main-nav ul li.active {
  font-weight: 900;
}
header .main-nav ul li a {
  color: #4d7b86;
}

footer {
  position: absolute;
  color: #dcdbdb;
  text-align: center;
  width: 100%;
  padding: 20px;
  bottom: 0;
}

.home .company-description {
  margin-top: 30px;
}
.home .company-description .sentence {
  text-align: right;
  font-size: 2em;
}
.home .company-steps {
  padding: 50px 0;
  width: 650px;
}
.home .company-steps .step {
  text-align: center;
  width: 25%;
  font-size: 1.4em;
}
.home .company-steps .step .circle {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 5px 0;
  border-radius: 100px;
  border: 3px solid;
  font-size: 16px;
  margin: 0 auto 10px auto;
}
.home .company-steps .step:not(:last-child) .circle::after {
  content: "";
  top: 49%;
  left: 100%;
  position: absolute;
  width: 125px;
  height: 3px;
  background-color: #fff;
}
.home .company-steps .step:last-child .circle {
  background-color: #4d7b86;
  color: #dcdbdb;
}

.login .sentence {
  max-width: 350px;
  padding: 30px 0;
  text-align: center;
  font-size: 2em;
}
.login .sign-in_form {
  width: 350px;
}
.login .sign-up_link {
  text-align: center;
}

.registration .inner-container {
  margin: 200px 0 100px 0;
}
.registration .sentence {
  max-width: 350px;
  padding: 30px 0;
  text-align: center;
  font-size: 2em;
}

.registration-second-step .inner-container {
  margin: 200px 0 100px 0;
}
.registration-second-step .section-user-plan {
  padding: 50px 0;
  font-size: 2em;
  width: 600px;
}
.registration-second-step .section-user-plan ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.registration-second-step .section-user-plan ul li {
  padding: 5px 0;
  font-size: 1rem;
}
.registration-second-step .section-user-plan ul li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
.registration-second-step .section-user-plan .price strong {
  font-size: 1.3em;
}
.registration-second-step .section-user-plan .pricing-plan {
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
}
.registration-second-step .section-user-plan .pricing-plan.active {
  background-color: #0f8ea5;
}
.registration-second-step .section-user-plan .pricing-plan:hover {
  background-color: #4d7b86;
}
.registration-second-step .company-logo {
  margin-bottom: 30px;
}
.registration-second-step .promo-code_form {
  padding: 30px 0;
}

/*# sourceMappingURL=main.css.map */
