// Color palette

$white: #fff;
$black: #000;

$primary-white: #dcdbdb;
$primary-blue: #4d7b86;
$secondary-blue: #0f8ea5;

html, body {
    position: relative;
    width: 100%;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 10px; 
}



main {
    background: url('../images/bg.jpg');
    background-attachment: fixed;
    min-height: 100%;
}

// Utils

.fh {
    height: 100vh
}



// flex items positioning
.flex {
    display: flex;
    &.in-column {
        flex-direction: column;
    }
    &.in-row {
        flex-direction: row;
    }
    &.center-center {
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    &.start-center {
        align-items: center;
        justify-content: flex-start
    }
}

//
// COLOR SCHEME
//

.light {
    color: $primary-white;
    a {
        color: $primary-white;
    }
    .button {
        color: $primary-white;
        &.outlined {
            border-color: $primary-white;
        }
        &.solid {
            background-color: $primary-white;
            color: $primary-blue;
            &.blue {
                background-color: $primary-blue;
                color: $primary-white;
            }
        }

    }
}


//
// TYPOGRAPHY
//

p {
    margin: 0;
}

.sentence {
    font-style: italic;
}


//
// UI ELEMENTS
//

// buttons
.button, button {
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5em;
    border: none;
    &.outlined {
        border: 2px solid;
    }
    &.solid {
        font-weight: 600;
        padding: 15px 20px;
        border-radius: 40px;
    }
    &:hover {
        text-decoration: none;   
    }

    &.small {
        padding: 10px 15px;
        font-size: 1em;
    }
}



// links
.link {
    line-height: 20px;
}

.sign-up_link {
    margin: 10px 0;
}



// form

form {
    font-size: 1.4em;
    input {
        display: block;
        width: 100%;
        border-radius: 100px;
        padding: 10px 20px;
        border: none;
        margin-bottom: 20px;
    }
    label {
        margin-bottom: 5px;
    }
    .inline {
        label, input {
            display: inline-block;
        }
        input[type="checkbox"] {
            width: 20px;
        }
    }
}

.sign-in_form, .promo-code_form {
    width: 450px;
}

// titles
.section-title_small {
    font-size: 1.5rem;
    text-align: center;
    small {
        font-weight: 300;
    }
}


//###########
//
// MAIN STYLE
//


header {
    position: fixed;
    top: 0;
    z-index: 9999;
    .main-nav {
        position: relative;
        top: 20px;
        left: 20px;
        background-color: $primary-white;
        border-radius: 100px;
        padding: 10px 20px;
        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                font-size: 1.3em;
                padding: 0 10px;
                &.active {
                    font-weight: 900;
                }
                a {
                    color: $primary-blue;
                }
            }
        }
    }
}

footer {
    position: absolute;
    color: $primary-white;
    text-align: center;
    width: 100%;
    padding: 20px;
    bottom: 0;
}




// Home page section
.home {
    .company-description {
        margin-top: 30px;
        .sentence {
            text-align: right;
            font-size: 2em;
        }
    }
    .company-steps {
        padding: 50px 0;
        width: 650px;
        .step {
            text-align: center;
            width: 25%;
            font-size: 1.4em;
            .circle {
                position: relative;
                width: 40px;
                height: 40px;
                padding: 5px 0;
                border-radius: 100px;
                border: 3px solid;
                font-size: 16px;
                margin: 0 auto 10px auto;
            }
        }
        .step:not(:last-child) .circle {
            &::after {
                content: "";
                top: 49%;
                left: 100%;
                position: absolute;
                width: 125px;
                height: 3px;
                background-color: #fff;
            }
        }
        .step:last-child .circle {
            background-color: $primary-blue;
            color: $primary-white;
        }
    }
}



// Login page section

.login {
    .sentence {
        max-width: 350px;
        padding: 30px 0;
        text-align: center;
        font-size: 2em;
    }
   .sign-in_form {
       width: 350px;
   }
   .sign-up_link {
        text-align: center;
   }
}


// Registration page section

.registration {
    .inner-container {
        margin: 200px 0 100px 0;
    }
    .sentence {
        max-width: 350px;
        padding: 30px 0;
        text-align: center;
        font-size: 2em;
    }
}

.registration-second-step {
    .inner-container {
        margin: 200px 0 100px 0;
    }
    .section-user-plan {
        padding: 50px 0;
        font-size: 2em;
        width: 600px;
        ul {
            margin: 20px 0;
            padding: 0;
            list-style: none;
            li {
                padding: 5px 0;
                font-size: 1rem;
            }
            li:nth-child(odd) {
                background-color: rgba(0,0,0, 0.1)
            }
        }
       .basic-price {
           strong { font-size: 1.3em; }
       }
       .pricing-plan {
            padding: 20px;
            cursor: pointer;
            border-radius: 15px;
            text-align: center;
            &.active {
                background-color: $secondary-blue;
            }
            &:hover {
                background-color: $primary-blue;
            }
       }
    }

    .company-logo {
        margin-bottom: 30px;
    }

    .promo-code_form {
        padding: 30px 0; 
    }
}

